/** @format */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0 auto;
  background-color: #201f27;
  color: aliceblue;
}

.root {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 10px;
  max-width: 420px;
  margin: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #4f4d75;
  border: solid 1px white;
  border-radius: 10px;
}
.title {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(18, 146, 146);
}
.text {
  font-size: 16px;
  text-align: justify;
  padding: 0 5px;
  margin-top: 0;
  margin-bottom: 0;
}
.info {
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(127, 226, 226);
}
.button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: rgb(139, 199, 209);
  color: rgb(23, 23, 68);
}
