/** @format */

.btn {
  background-color: aqua;
  color: blue;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
}
.text {
  color: rgb(24, 23, 23);
  text-align: center;
  font-size: 16px;
}
